.filter-category{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff8ee;
    font-size: 19px;
    text-shadow: 3px 3px 7px yellow;
}

.categoryButton:hover {
    background-color: #beb27e;
  }
  .categoryButtonSelected {
    background-color: #c09b46;
  }
  
  .categoryButton {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
  }


@media all and (max-width: 768px) {
    .filter-category {
        flex-direction: column;
        flex-wrap: wrap;
    }
}