.filter-category{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff8ee;
    font-size: 19px;
    font-weight: 300;
    text-shadow: 3px 3px 7px yellow;
}

.categoryButton:hover {
    background-color: #beb27e;
  }
  .categoryButtonSelected {
    background-color: #c09b46;
  }
  
  .categoryButton {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
  }

  .custom-toast {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    border: 1px solid #008001;
    box-shadow: 3px 3px 7px #008001;
    border-radius: 5px;
  }

  .Toastify__progress-bar--default {
    background: green;
}


@media all and (max-width: 768px) {
    .filter-category {
        flex-direction: column;
        flex-wrap: wrap;
    }
}