  .container {
    display: flex;
    justify-content: center;
  }

  .main-book {
    font-size: 46px;
    font-family: 'Montecarlo', cursive;
    font-weight: 300;
    color: #fff8ee;
    text-shadow: 2px 2px 8px yellow;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    color: #cfb87b;
    font-weight: bolder;
    font-size: 34px;
  }

  h3 {
    color: #fff8ee;
    font-size: 20px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  
  }

  .book-cover {
    border-radius: 9px;
  }
  
  .btn {
    display: flex;
    justify-content: space-evenly;
    margin-bottom:50px ;
  
  }
  
  .btnOne {
    background-color: #f05a3b;
    width: 150px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    border: none;
    text-transform: uppercase;
  }

    .show-btn {
    background: none;
    border: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #f05a3b;
    cursor: pointer;
    font-weight: bolder;
  }
  
  @media all and (max-width: 500px) {
    h1 {
      font-size: 40px;
      text-align: center;
    }

    .main-book {
      font-size: 27px;
    }

    .book-cover {
      width: 240px;
    }
  
    h2 {
      font-size: 25px;
    }

    h3, .show-btn {
      margin-left: 20px;
      margin-right: 20px;
    }

    .btnOne {
      width: 100px;
      padding: 9px;
    }
}