.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 0; 
}

.home-title {
    color: #c09b46;
    font-family: 'Montecarlo', cursive;
    font-size: 75px;
    margin-bottom: 0;
}

.rest {
    color: #c09b46;
    font-family: 'Montecarlo', cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 0;
}

.w {
    font-size: 85px;
    font-weight: 100;
    color: #c09b46;
    text-shadow: 2px 2px 8px gold;
    font-family: 'Montecarlo', cursive;
}

.space {
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Montecarlo';
}

.overview {
    width: 700px;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    line-height: 110%;
}

.castle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
    margin-bottom: 10px; 
  }
  
  .castle img {
    display: block;
    width: 100%;
    max-width: 650px;
    height: auto;
    margin: 0;
    padding: 0;
  }
@media all and (max-width: 500px) {
    .home-title {
        font-size: 35px;
        text-align: center;
    }

    .w {
        font-size: 40px;
    }

    .rest {
        font-size: 30px;
    }

    .overview {
        width: 350px;
        font-size: 19px;
    }

    .castle {
        width: 350px;
    }
}