.st {
    font-size: small;
    vertical-align: super;
    color:#cfb87b;
}

.showBtn {
    border: none;
    text-align: justify;
    background-color: transparent;
    font-size: 22px;
    font-weight: bolder;
    color: #a60609;
}