/* CURSOR */

.star {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  animation: sparkle 1s infinite linear;
}

.star:before, .star:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2726';
  font-size: 9px;
}

.star:before {
  color: transparent;
  text-shadow: 0 0 8px rgb(214, 214, 135);
}

.star:after {
  background: gold;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes sparkle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*NAV*/

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: none;
  padding: 10px 20px;
  position: relative;
}

.links {
  display: flex;
}

.link {
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff8ee;
  text-shadow: 3px 3px 7px yellow;
  font-size: 18px;
  font-weight: bolder;
}

.link:hover {
  color: #c09b46;
}

.burger-btn {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: #fff8ee;
  background-color: transparent;
  border: none;
}

.close-btn {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff8ee;
  text-shadow: 2px 2px 6px #c09b46;
  font-weight:900;
  font-size: 30px;
  cursor: pointer;
  margin-right: 8px;
}


@media screen and (max-width: 820px) {
  nav {
    display: flex;
    justify-content: space-between;
    position: relative; 
    z-index: 1000; 
  }
  .links {
    display: none;
    position: absolute;
    left: 0;
    z-index: 2;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(0, 0, 0, 0.45);
  }

  .links.show {
    display: flex;
  }

  .link {
    padding: 10px;
    text-shadow: 2px 2px 6px #c09b46;
  }

  .burger-btn, .close-btn {
    display: block;
  }
}
